.text-center {
    text-align: center
}

.container {
    align-items: center;
    /* background: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button {
    width: 50px;
    height: 50px;
    margin: 1px;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.bg-black {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}

.bg-primary {
    background-color: rgb(198, 185, 9);
}

.bg-green {
    background-color: green;
}

.row {
    padding: 2px 0;
    margin:8px -13px;     

}

.row input {
    width: 70%;
    height: 60px;
    font-size: 22px;
    padding: 4px 16px;
    /* margin: 4px; */
    border: 2px solid black;
    border-radius: 10px;
    text-align: end;
}

/* .buttoncap{
    padding: 0 2px;
    margin: 35px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
} */
/* . element style{
    margin: 2px;
    padding: 21px;
    border: 2px solid black;
        /* border-buttoncapradius: 4px;} */